.recipe-grid img {
    width: 100%;
    height: auto;
}
.nutritional-value {
    padding: 10px;
    background-color: var(--green);
    color: white;
    font-weight: 800;
    width: 100%;
    text-align: center;;
}