
.meals-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}
.element {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
}
.image-container {
  width: 100%;
  height: 200px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.meal-description {
    padding: 20px;
}
.element p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    width: 100%;
    line-height: 1.25;
    max-height: calc(1.25em * 3);
    font-size: 0.9em;
}
.element h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.25;
    max-height: calc(1.25em * 2);
    font-size: 1.2em;
    margin-bottom: 10px;
    height: 50px;
    align-content: center;
    color: rgb(11, 53, 11);

}
.all-meal-details {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}
.calories {
    font-weight: 800;
    color: var(--green);
    font-size: 1.25em;
}
.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.element .meal-btn {
    width: 100%;
    height: 100%;
}
.actions a {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 700px) {
    .meals-container {
        gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: left;
    }
    .element {
        width: 23%;
        margin: 0 auto;
        min-width: 300px;
    }
    .search-container {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

}